<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias type="org.dream.common.entity.User" alias="_dreamUser" />
		<typeAlias type="org.dream.common.entity.UserAccount" alias="_dreamAccount"/>
		<typeAlias type="org.dream.common.entity.CarModel" alias="_carModel" />
		<typeAlias type="org.dream.common.entity.CarBrand" alias="_carBrand" />	
		<typeAlias type="org.dream.common.entity.ShiroPermission" alias="_shiroPermission" />
		<typeAlias type="org.dream.common.entity.ShiroRole" alias="_shiroRole" />
		<typeAlias type="org.dream.common.entity.ShiroRolePermssion" alias="_shiroRolePermssion" />
		<typeAlias type="org.dream.common.entity.ShiroUser" alias="_shiroUser" />
		<typeAlias type="org.dream.common.entity.ShiroUserRole" alias="_shiroUserRole" />
	</typeAliases>

	<typeHandlers>
		<!-- 
		此处未添加 javaType 与  jdbcType 
		
		http://blog.csdn.net/isea533/article/details/43986671
		-->
		<typeHandler handler="org.dream.common.typehandler.BooleanTypeHandler"/> 
		
		
		<!-- 
			此处一定要带上javaType 否则会 说 ValuedEnumTypeHandler 没有构造函数可以初始化
			因为我们定义的ValuedEnumTypeHandler 只有一个有参的构造函数
			
			注：没有javaType 会调用无参构造函数，也许~
		-->
		<typeHandler handler="org.dream.common.typehandler.ValuedEnumTypeHandler" 
			javaType="org.dream.common.typehandler.UserType"/>
	</typeHandlers>

	<mappers>
		<mapper resource="mybatis-mapper/mysql_evchar_user.xml" />
		<mapper resource="mybatis-mapper/mysql_evchar_user_account.xml" />
		<mapper resource="mybatis-mapper/mysql_evchar_car_brand.xml" />
		<mapper resource="mybatis-mapper/mysql_evchar_car_model.xml" />
		<mapper resource="mybatis-mapper/shiro/mysql_shiro_user.xml" />
		<mapper resource="mybatis-mapper/shiro/mysql_shiro_permission.xml" />
		<mapper resource="mybatis-mapper/shiro/mysql_shiro_role.xml" />
		<mapper resource="mybatis-mapper/shiro/mysql_shiro_role_permssiom.xml" />
		<mapper resource="mybatis-mapper/shiro/mysql_shiro_user_role.xml" />
	</mappers>

</configuration>