<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="org.dream.common.entity.User" alias="_dreamUser" />
		<typeAlias type="org.dream.common.entity.CarModel" alias="_carModel" />
		<typeAlias type="org.dream.common.entity.CarBrand" alias="_carBrand" />
	</typeAliases>

	<mappers>
		<mapper resource="mybatis-mapper/mysql_evchar_user.xml" />
		<mapper resource="mybatis-mapper/mysql_evchar_car_brand.xml"/>
		<mapper resource="mybatis-mapper/mysql_evchar_car_model.xml"/>
	</mappers>

</configuration>